{# src/Social/WallBundle/Resources/views/layout.html.twig  #}

{% extends "::layout.html.twig" %}

{% block body %}

	<div class="span7 offset-8" >
	
	
		<ul class="nav nav-pills">
		  <li class="active"><a href="{{ path('all_photos') }}">my photos</a></li>
		  {% if app.user.id == app.session.get('pageUserId') %}
			  <li><a href="{{ path('add_photos') }}">add photos</a></li>
			  <li><a href="{{ path('create_album') }}">create album</a></li>
		  {% endif %}
		</ul>
    </div>
	
	<div class="span7 offset-8">
			<h2 style="text-align:center"> Choose an album ! </h2><br><br>

			{% for album in listeAlbums %}
					<div class="well" style="text-align:center">
						<h4><a href="{{ path('all_photos') }}/{{ album.id }}"> {{ album.name }} </a> </h4>
					
						<div style="text-align:right">
							{% if app.user.id == app.session.get('pageUserId') %}
								<a href="{{ path('sup_photos', { 'id': album.id, 'type':'Album' }) }}"> supp </a>
							{% endif %}
						</div>
					</div>
			{% endfor %}
    </div>
{% endblock %}